h1 {
    text-align: center;
    margin: 0; 
    padding: 20px; 
    font-size: 2.5rem;
    position: absolute; 
    top: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #facfd2;
}
  
.container {
    background-color: #fcf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
